.button {
  outline: none !important;
  @apply max-w-max;
  @apply px-8;
  @apply py-2;
  @apply font-thin;
  @apply bg-blue;
  @apply text-white;
  @apply rounded-xl;
  @apply shadow-xl;
  @apply transition-all;
  @apply duration-200;

  &-primary {
    @apply bg-blue;
  }

  &:disabled {
    @apply bg-item;
    @apply text-white;
    @apply pointer-events-none;
  }
}
