@import '../../../../node_modules/swiper/swiper.min.css';

@mixin bullet {
  content: '';
  @apply h-2;
  @apply w-2;
  border-radius: 50%;
  @apply absolute;
  @apply transform;
  @apply -translate-x-1/2;
  @apply -translate-y-1/2;
  @apply top-1/2;
  @apply left-1/2;
}

.swiper {
  &-pagination {
    @apply flex;
    @apply flex-shrink-0;
    @apply flex-grow-0;
    @apply justify-center;
    @apply relative;
    @apply w-full;
    @apply h-4;

    &-bullet {
      @apply relative;
      @apply block;
      @apply h-4;
      @apply w-4;
      @apply cursor-pointer;

      &-active {
        &::after {
          @apply z-50;
          @include bullet;
          @apply bg-blue;
        }
      }

      &::before {
        @include bullet;
        @apply bg-dark;
      }
    }
  }
}
