@font-face {
  font-family: 'Heebo Bold';
  src: url('../fonts/Heebo-Bold.eot');
  src: url('../fonts/Heebo-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Heebo-Bold.woff') format('woff'),
    url('../fonts/Heebo-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo Regular';
  src: url('../fonts/Heebo-Regular.eot');
  src: url('../fonts/Heebo-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Heebo-Regular.woff') format('woff'),
    url('../fonts/Heebo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo Medium';
  src: url('../fonts/Heebo-Medium.eot');
  src: url('../fonts/Heebo-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Heebo-Medium.woff') format('woff'),
    url('../fonts/Heebo-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb Regular';
  src: url('../fonts/TitilliumWeb-Regular.eot');
  src: url('../fonts/TitilliumWeb-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/TitilliumWeb-Regular.woff') format('woff'),
    url('../fonts/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb Light';
  src: url('../fonts/TitilliumWeb-Light.eot');
  src: url('../fonts/TitilliumWeb-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TitilliumWeb-Light.woff') format('woff'),
    url('../fonts/TitilliumWeb-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
