@import './fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  @apply shadow-width;
  @apply min-h-full;
  @apply text-dark;
  @apply font-semibold;
  @apply font-heebo-regular;
  @apply overflow-x-hidden;
  margin: 0 auto !important;
  @apply h-full;
}

::selection {
  background: $blue-select;
}

p {
  @apply leading-relaxed;
}

html {
  @apply h-full;
}

main {
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight;
}
